# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [18]:
ids1 = pd.Series(np.random.randint(1, 4, size=100))
ids2 = pd.Series(np.random.randint(1, 3, size=100))
ids3 = pd.Series(np.random.randint(10000, 30000, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [12]:
df = pd.DataFrame(data={"bedrs": ids1, "bathrs": ids2, "price_sqr_meter": ids3}, columns=['bedrs', 'bathrs', 'price_sqr_meter'])
df

    bedrs  bathrs  price_sqr_meter
0       3       2            24979
1       1       1            15130
2       3       2            27488
3       2       1            26697
4       3       2            10248
..    ...     ...              ...
95      1       1            29276
96      1       1            28923
97      1       2            14721
98      3       1            23232
99      1       2            10244

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [17]:
bigcolumn = pd.concat([ids1, ids2, ids3], axis=0)
bigcolumn

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [16]:
bigcolumn.reset_index(inplace=True)
bigcolumn

NameError: name 'bigcolumn' is not defined